frontend/public/wallpapers/isla-1-logoless.png filter=lfs diff=lfs merge=lfs -text
frontend/public/wallpapers/isla-1.png filter=lfs diff=lfs merge=lfs -text
frontend/public/wallpapers/isla-2-figure.png filter=lfs diff=lfs merge=lfs -text
