---
import NowPlaying from "@/components/NowPlaying.astro";

import "@/styles/footer.css";

const username = "luuumine";
const logo = "/nixos-rainbow.svg";
---

<footer class="site-footer">
  <NowPlaying />

  <div class="nix-webring">
    <a href={`https://nixwebr.ing/prev/${username}`}>prev</a>
    <a href="https://nixwebr.ing" class="nix-home">
      <img src={logo} alt="Nix Webring" width={48} height={48} />
    </a>
    <a href={`https://nixwebr.ing/next/${username}`}>next</a>
  </div>

  <div class="badges">
    <a href="https://www.kernel.org/" target="_blank" rel="noopener">
      <img src="/badges/linux.webp" alt="Linux badge" width={88} height={31} />
    </a>
    <a href="https://neovim.io" target="_blank" rel="noopener">
      <img
        src="/badges/neovim.webp"
        alt="Neovim badge"
        width={88}
        height={31}
      />
    </a>
    <a href="https://nixos.org" target="_blank" rel="noopener">
      <img src="/badges/nixos.webp" alt="NixOS badge" width={88} height={31} />
    </a>
    <a href="https://astro.build" target="_blank" rel="noopener">
      <img src="/badges/astro.webp" alt="Astro badge" width={88} height={31} />
    </a>
    <a
      href="https://en.wikipedia.org/wiki/Human"
      target="_blank"
      rel="noopener">
      <img
        src="/badges/human.webp"
        alt="Made By A Human badge"
        width={88}
        height={31}
      />
    </a>
    <a
      href="https://developer.mozilla.org/en-US/docs/Web/CSS"
      target="_blank"
      rel="noopener">
      <img
        src="/badges/css.webp"
        alt="CSS is Difficult badge"
        width={88}
        height={31}
      />
    </a>
  </div>
  <p class="copyright">(c) 2025-{new Date().getFullYear()} lumine</p>
</footer>
