---
import "../styles/navbar.css";

type Link = {
  href: string;
  label: string;
};

const links: Link[] = [
  { href: "/", label: "home" },
  { href: "/computer", label: "computer" },
  { href: "/likes", label: "likes" },
  { href: "/misc", label: "misc" },
];

const current = Astro.url.pathname;
---

<nav class="nav">
  <ul>
    {
      links.map((link) => (
        <li>
          <a
            href={link.href}
            class={
              current === link.href ||
              (link.href !== "/" && current.startsWith(link.href))
                ? "active"
                : ""
            }>
            {link.label}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
