.home-container {
  height: 100vh;
  display: flex;
}

.content-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  padding: 2rem;
  position: relative;
}

.content {
  padding: 2rem;
  text-align: center;
  flex: 1;
}

.greeting {
  color: white;
  font-weight: 600;
}

.greeting > span {
  opacity: 0.8;
  font-weight: 400;
}

.home-pic {
  max-width: 200px;
  border-radius: 50%;
  box-shadow: 0 0 20px 5px rgba(160, 48, 160, 0.3);
  transition: box-shadow 0.3s ease;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.home-pic:hover {
  box-shadow: 0 0 30px 5px rgba(160, 48, 160, 0.5);
}

.intro {
  font-size: 1.2rem;
  color: #ccc;
}

.wave {
  display: inline-block;
  transform-origin: 70% 70%;
}

.wave:hover {
  animation: wave 0.7s ease-in-out;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(-7deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.more-info {
  color: #aaa;
  font-size: 1.1rem;
  text-align: center;
}

.more-info a {
  color: #bbb;
  text-decoration: none;
  font-family: monospace;
  margin-left: 0.3rem;
  transition: all 0.2s ease;
}

.more-info a:hover {
  color: #ddd;
  text-shadow: 0 0 4px #ccc;
}

/* Mobile only */

.mobile-warning {
  display: none;
  font-size: 1rem;
  color: #999;
  margin-bottom: 2rem;
  text-align: center;
}

@media (max-width: 800px) {
  .mobile-warning {
    display: block;
  }
}
