---
import Base from "../layouts/base.astro";

const pageTitle = "home";
---

<Base title={pageTitle}>
	<h1>lumine</h1>
	<p>hi i'm lumine!</p>
	<p>
		i study data science in france and i like tinkering with code and running my
		own server.
	</p>
	<p>
		i'm into ai, anime, and learning new things. i care about privacy,
		decentralization, and open-source.
	</p>
	<br />
	<p>
		this site is where i drop notes, experiments, and whatever feels worth
		keeping around.
	</p>
</Base>
