---
import Base from "../layouts/Base.astro";

const pageTitle = "home";
---

<Base title={pageTitle}>
  <h1>lumine</h1>
  <p>hi i'm <span class="highlight">lumine</span>!</p>
  <p>
    i study data science in france and i like tinkering with code and running my
    own server.
  </p>
  <p>
    i'm into <span class="highlight">ai</span>, <span class="highlight"
      >anime</span
    >, and learning new things. i care about <span class="highlight"
      >privacy</span
    >,
    <span class="highlight">decentralization</span>, and <span class="highlight"
      >open-source</span
    >.
  </p>
  <br />
  <p>
    this site is where i drop notes, experiments, and whatever feels worth
    keeping around.
  </p>
</Base>
