.tech-card {
  background: #1a1a1a;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  border: 1px solid #222;
  color: #bbb;
  transition: all 0.2s;
  width: 200px;
  height: 75px;
  display: flex;
  align-items: center;
}

.tech-card:hover {
  border-color: #ccc;
  color: white;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-grow: 1;
}
.tech-name {
  font-weight: bold;
  margin-top: 0.3rem;
}

.tech-category {
  font-size: 0.9rem;
  color: #888;
}
