.navbar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #161616;
  color: snow;
  padding: 2rem;
}

.logo {
  font-family: 'Noto-Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.navbar ul {
  list-style: none;
  padding: 2rem;
}

.navbar ul > li {
  font-size: 1.5rem;
  font-family: monospace;
  margin: 1rem 0;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

.navbar a:hover {
  color: #bbb;
  transition: color 0.2s ease-in;
}

@media (max-width: 800px) {
  .navbar {
    display: none;
  }
}
