---

---

<nav class="nav">
	<ul>
		<li><a href="/">home</a></li>
		<li><a href="/computer">computer</a></li>
		<li><a href="/likes">likes</a></li>
		<li><a href="/misc">misc</a></li>
		<li><a href="/cv">CV</a></li>
	</ul>
</nav>
