---
import Base from "@/layouts/Base.astro";

const pageTitle = "home";
---

<Base title={pageTitle}>
  <h1>lumine</h1>
  <p>hi i'm <strong>lumine</strong>!</p>
  <p>
    i study data science in france and i like tinkering with code and running my
    own server.
  </p>
  <p>
    i'm into <strong>ai</strong>, <strong>anime</strong>, and learning new
    things. i care about <strong>privacy</strong>,
    <strong>decentralization</strong>, and <strong>open-source</strong>.
  </p>
  <br />
  <p>
    this site is where i drop notes, experiments, and whatever feels worth
    keeping around.
  </p>
  <p>
    this website is self-hosted! you can find the source code in <a
      href="https://github.com/luuumine/luuumine.com"
      target="_blank"
      rel="noopener">
      this repo</a
    >.
  </p>
</Base>
